
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.side-separator {
    margin-top: 11px;
    margin-bottom: 11px;
}

textarea {
    resize: vertical;
}